<div class="container" ng-init="init()">
<div class="sponsor-list">
  <div class="parent">
     <div class="parent-root"><a>root</a></div>
     <div class="child child-container">
       <div class="child1">
          <div><a>child1</a></div>
          <div class="child">
           <div class="child1">
             <div><a>child1</a></div>
             <div class="child">
               <div class="child1"><div><a>child1</a></div></div>
               <div class="child1"><div><a>child1</a></div></div>
               <div class="child1"><div><a>child1</a></div></div>
               <div class="child1"><div><a>child1</a></div></div>
               <div class="child1"><div><a>child1</a></div></div>
             </div>
           </div>
           <div class="child1"><div><a>child1</a></div></div>
           <div class="child1">
             <div><a>child1</a></div>
             <div class="child">
               <div class="child1"><div><a>child1</a></div></div>
               <div class="child1"><div><a>child1</a></div></div>
               <div class="child1"><div><a>child1</a></div></div>
               <div class="child1"><div><a>child1</a></div></div>
               <div class="child1"><div><a>child1</a></div></div>
             </div>
           </div>
           <div class="child1"><div><a>child1</a></div></div>
           <div class="child1"><div><a>child1</a></div></div>
         </div>
        </div>
       <div class="child1"><div><a>child1</a></div></div>
       <div class="child1"><div><a>child1</a></div></div>
       <div class="child1">
         <div><a>child1</a></div>
         <div class="child">
           <div class="child1"><div><a>child1</a></div></div>
           <div class="child1"><div><a>child1</a></div></div>
           <div class="child1"><div><a>child1</a></div></div>
           <div class="child1"><div><a>child1</a></div></div>
           <div class="child1"><div><a>child1</a></div></div>
         </div>
       </div>
       <div class="child1">
          <div><a>child1</a></div>
          <div class="child">
           <div class="child1"><div><a>child1</a></div></div>
           <div class="child1"><div><a>child1</a></div></div>
           <div class="child1"><div><a>child1</a></div></div>
           <div class="child1"><div><a>child1</a></div></div>
           <div class="child1"><div><a>child1</a></div></div>
         </div>
       </div>
     </div>
  </div>
<div class="clearfix"></div>
</div>
</div>