<html>
  <body style="font-family: Arial, Arial, Helvetica, sans-serif; font-size: 
12px; background-color: #FFFFFF; color:#333333;">
  <div style="width:800px; text-align: left;">
    <div style="background-color:#FFFFFF; border:none; -moz-box-shadow: 0 0 3px #F1F1F1; -webkit-box-
shadow: 0 0 3px#F1F1F1; box-shadow: 0 0 3px #F1F1F1;">
     <div style="background-color:#F4F4F4; padding:5px">
        Kích hoạt tài khoản
     </div>
     <div style="padding:10px; line-height:18px;">
       <div>Chào bạn,</div> 
        - Bạn vui lòng click vào địa chỉ bên dưới để kích hoạt tài khoản:
       <p><a href="{{$href}}">{{$href}}</a></p>
       <div><p><em>* Chú ý: Link trên chỉ tồn tại trong vòng 1 tiếng.<em></p></div>
       <div>Trân trọng,</div>
       <div>JANET SUPPORT CENTER</div><br/><br/>
     </div>
  </div>
  </div>
  </body>
</html>
